{% extends 'base.html' %}




{% block css %}
<!-- Plugins css start-->
<!-- Plugins css Ends-->
{% endblock %}

{% block content %}

<div class="page-body">
      {% include "layout/breadcrumb.html" %}
      <div class="container-fluid">
            <div class="row">
                  <div class="col-xl-9 xl-60">
                        <div class="row">
                              {% include "miscellaneous/learning/learning-list/components/learning-list-1.html" %}
                              {% include "miscellaneous/learning/learning-list/components/learning-list-2.html" %}


                        </div>
                  </div>
                  {% include "miscellaneous/learning/learning-list/components/find-course.html" %}

            </div>
      </div>
</div>

{% endblock %}


{% block scriptcontent %}


<!-- Plugins JS start-->
<script src="{{ url_for('static', filename='assets/js/tooltip-init.js')}}"></script>
<!-- Plugins JS Ends-->


{% endblock %}