<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="Cuba admin is super flexible, powerful, clean &amp; modern responsive bootstrap 5 admin template with unlimited possibilities.">
  <meta name="keywords"
    content="admin template, Cuba admin template, dashboard template, flat admin template, responsive admin template, web app">
  <meta name="author" content="pixelstrap">
  <link rel="icon" href="{{ url_for('static', filename='assets/images/favicon.png')}}" type="image/x-icon">
  <link rel="shortcut icon" href="{{ url_for('static', filename='assets/images/favicon.png')}}" type="image/x-icon">
  <title>Cuba - Premium Admin Template</title>
  <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">
  <style type="text/css">
    body {
      width: 650px;
      font-family: work-Sans, sans-serif;
      background-color: #f6f7fb;
      display: block;
    }

    a {
      text-decoration: none;
    }

    span {
      font-size: 14px;
    }

    p {
      font-size: 13px;
      line-height: 1.7;
      letter-spacing: 0.7px;
      margin-top: 0;
    }

    .text-center {
      text-align: center
    }
  </style>
</head>

<body style="margin: 30px auto;">
  <table style="width: 100%">
    <tbody>
      <tr>
        <td>
          <table style="background-color: #f6f7fb; width: 100%">
            <tbody>
              <tr>
                <td>
                  <table style="width: 650px; margin: 0 auto; margin-bottom: 30px">
                    <tbody>
                      <tr>
                        <td><img src="{{ url_for('static', filename='assets/images/other-images/logo-login.png')}}"
                            alt=""></td>
                        <td style="text-align: right; color:#999"><span>Some Description</span></td>
                      </tr>
                    </tbody>
                  </table>
                  <table style="width: 650px; margin: 0 auto; background-color: #fff; border-radius: 8px">
                    <tbody>
                      <tr>
                        <td style="padding: 30px">
                          <p>Hi There,</p>
                          <p>Sometimes you just want to send a simple HTML email with a simple design and clear call to
                            action.</p>
                          <div class="text-center"><a href="#"
                              style="padding: 10px; background-color: #2243ff; color: #fff; display: inline-block; border-radius: 4px; margin-bottom: 18px">Call
                              To Action </a></div>
                          <p>This is a really simple email template. It's sole purpose is to get the recipient to click
                            the button with no distractions.</p>
                          <p style="margin-bottom: 0">Good luck! Hope it works.</p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <table style="width: 650px; margin: 0 auto; margin-top: 30px">
                    <tbody>
                      <tr style="text-align: center">
                        <td>
                          <p style="color: #999; margin-bottom: 0">333 Woodland Rd. Baldwinsville, NY 13027</p>
                          <p style="color: #999; margin-bottom: 0">Don't Like These Emails?<a href="#"
                              style="color: #7366ff">Unsubscribe</a></p>
                          <p style="color: #999; margin-bottom: 0">Powered By Cuba Admin</p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</body>

</html>