<div class="col-sm-12">
  <div class="card">
    <div class="card-header">
      <h5>Default Table</h5><span>Example of large table, Add <code>.table-de</code>class to the <code>.table</code>to
        create a table with large spacing. larger table all rows have <code>0.75rem</code> height.</span>
    </div>
    <div class="table-responsive">
      <table class="table table-de">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>