<div class="tab-pane fade" id="top-contact" role="tabpanel" aria-labelledby="contact-top-tab">
  <div class="row">
    <div class="col-xxl-4 col-md-6">
      <div class="project-box"><span class="badge badge-success">Done</span>
        <h6><a href="/formbuilder2" target="_blank">ID 32524</a></h6>
        <div class="media"><img class="img-20 me-1 rounded-circle"
            src="{{ url_for('static', filename='assets/images/user/3.jpg')}}" alt="" data-original-title="" title="">
          <div class="media-body">
            <p>Medina</p>
          </div>
        </div>
        <p>Journey completed successfully</p>
        <div class="row details">
          <div class="col-6"><span>Guests </span></div>
          <div class="col-6 text-primary">80 </div>
        </div>
        <div class="customers">
          <ul>
            <li class="d-inline-block"><img class="img-30 rounded-circle"
                src="{{ url_for('static', filename='assets/images/user/3.jpg')}}" alt="" data-original-title=""
                title=""></li>
            <li class="d-inline-block"><img class="img-30 rounded-circle"
                src="{{ url_for('static', filename='assets/images/user/5.jpg')}}" alt="" data-original-title=""
                title=""></li>
            <li class="d-inline-block"><img class="img-30 rounded-circle"
                src="{{ url_for('static', filename='assets/images/user/1.jpg')}}" alt="" data-original-title=""
                title=""></li>
            <li class="d-inline-block ms-2">
              <p class="f-12">+3 More</p>
            </li>
          </ul>
        </div>
        <div class="project-status mt-4">
          <div class="media mb-0">
            <p>100% </p>
            <div class="media-body text-end"><span>Booking completed</span></div>
          </div>
          <div class="progress" style="height: 5px">
            <div class="progress-bar-animated bg-success" role="progressbar" style="width: 100%" aria-valuenow="10"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xxl-4 col-md-6">
      <div class="project-box"><span class="badge badge-success">Done</span>
        <h6><a href="/formbuilder2" target="_blank">ID 32540</a></h6>
        <div class="media"><img class="img-20 me-1 rounded-circle"
            src="{{ url_for('static', filename='assets/images/user/3.jpg')}}" alt="" data-original-title="" title="">
          <div class="media-body">
            <p>Medina</p>
          </div>
        </div>
        <p>Journey completed successfully</p>
        <div class="row details">
          <div class="col-6"><span>Guests </span></div>
          <div class="col-6 text-primary">50 </div>
        </div>
        <div class="customers">
          <ul>
            <li class="d-inline-block"><img class="img-30 rounded-circle"
                src="{{ url_for('static', filename='assets/images/user/3.jpg')}}" alt="" data-original-title=""
                title=""></li>
            <li class="d-inline-block"><img class="img-30 rounded-circle"
                src="{{ url_for('static', filename='assets/images/user/5.jpg')}}" alt="" data-original-title=""
                title=""></li>
            <li class="d-inline-block"><img class="img-30 rounded-circle"
                src="{{ url_for('static', filename='assets/images/user/1.jpg')}}" alt="" data-original-title=""
                title=""></li>
            <li class="d-inline-block ms-2">
              <p class="f-12">+2 More</p>
            </li>
          </ul>
        </div>
        <div class="project-status mt-4">
          <div class="media mb-0">
            <p>100% </p>
            <div class="media-body text-end"><span>Done</span></div>
          </div>
          <div class="progress" style="height: 5px">
            <div class="progress-bar-animated bg-success" role="progressbar" style="width: 100%" aria-valuenow="10"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xxl-4 col-md-6">
      <div class="project-box"><span class="badge badge-success">Done</span>
        <h6><a href="/formbuilder2" target="_blank">ID 32300</a></h6>
        <div class="media"><img class="img-20 me-1 rounded-circle"
            src="{{ url_for('static', filename='assets/images/user/3.jpg')}}" alt="" data-original-title="" title="">
          <div class="media-body">
            <p>Makka</p>
          </div>
        </div>
        <p>Journey completed successfully</p>
        <div class="row details">
          <div class="col-6"><span>Guests </span></div>
          <div class="col-6 text-primary">80 </div>
        </div>
        <div class="customers">
          <ul>
            <li class="d-inline-block"><img class="img-30 rounded-circle"
                src="{{ url_for('static', filename='assets/images/user/3.jpg')}}" alt="" data-original-title=""
                title=""></li>
            <li class="d-inline-block"><img class="img-30 rounded-circle"
                src="{{ url_for('static', filename='assets/images/user/5.jpg')}}" alt="" data-original-title=""
                title=""></li>
            <li class="d-inline-block"><img class="img-30 rounded-circle"
                src="{{ url_for('static', filename='assets/images/user/1.jpg')}}" alt="" data-original-title=""
                title=""></li>
            <li class="d-inline-block ms-2">
              <p class="f-12">+3 More</p>
            </li>
          </ul>
        </div>
        <div class="project-status mt-4">
          <div class="media mb-0">
            <p>100% </p>
            <div class="media-body text-end"><span>Done</span></div>
          </div>
          <div class="progress" style="height: 5px">
            <div class="progress-bar-animated bg-success" role="progressbar" style="width: 100%" aria-valuenow="10"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xxl-4 col-md-6">
      <div class="project-box"><span class="badge badge-success">Done</span>
        <h6><a href="/formbuilder2" target="_blank">ID 32555</a></h6>
        <div class="media"><img class="img-20 me-1 rounded-circle"
            src="{{ url_for('static', filename='assets/images/user/3.jpg')}}" alt="" data-original-title="" title="">
          <div class="media-body">
            <p>Makka</p>
          </div>
        </div>
        <p>Journey completed successfully</p>
        <div class="row details">
          <div class="col-6"><span>Guests </span></div>
          <div class="col-6 text-success">40</div>
        </div>
        <div class="customers">
          <ul>
            <li class="d-inline-block"><img class="img-30 rounded-circle"
                src="{{ url_for('static', filename='assets/images/user/3.jpg')}}" alt="" data-original-title=""
                title=""></li>
            <li class="d-inline-block"><img class="img-30 rounded-circle"
                src="{{ url_for('static', filename='assets/images/user/5.jpg')}}" alt="" data-original-title=""
                title=""></li>
            <li class="d-inline-block"><img class="img-30 rounded-circle"
                src="{{ url_for('static', filename='assets/images/user/1.jpg')}}" alt="" data-original-title=""
                title=""></li>
            <li class="d-inline-block ms-2">
              <p class="f-12">+2 More</p>
            </li>
          </ul>
        </div>
        <div class="project-status mt-4">
          <div class="media mb-0">
            <p>100% </p>
            <div class="media-body text-end"><span>Done</span></div>
          </div>
          <div class="progress" style="height: 5px">
            <div class="progress-bar-animated bg-success" role="progressbar" style="width: 100%" aria-valuenow="10"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>