<div class="tab-pane fade" id="top-booked" role="tabpanel" aria-labelledby="booked-top-tab">
  <div class="row">
    <div class="col-xxl-4 col-md-6">
      <div class="project-box"><span class="badge badge-primary">Booked</span>
        <h6><a href="/formbuilder2" target="_blank">ID 32522</a></h6>
        <div class="media"><img class="img-20 me-1 rounded-circle"
            src="{{ url_for('static', filename='assets/images/user/3.jpg')}}" alt="" data-original-title="" title="">
          <div class="media-body">
            <p>Makkah</p>
          </div>
        </div>
        <p>Waiting for Visa</p>
        <div class="row details">
          <div class="col-6"><span>Guests </span></div>
          <div class="col-6 text-primary">50 </div>
        </div>
        <div class="customers">
          <ul>
            <li class="d-inline-block"><img class="img-30 rounded-circle"
                src="{{ url_for('static', filename='assets/images/user/3.jpg')}}" alt="" data-original-title=""
                title=""></li>
            <li class="d-inline-block"><img class="img-30 rounded-circle"
                src="{{ url_for('static', filename='assets/images/user/5.jpg')}}" alt="" data-original-title=""
                title=""></li>
            <li class="d-inline-block"><img class="img-30 rounded-circle"
                src="{{ url_for('static', filename='assets/images/user/1.jpg')}}" alt="" data-original-title=""
                title=""></li>
            <li class="d-inline-block ms-2">
              <p class="f-12">+3 More</p>
            </li>
          </ul>
        </div>
        <div class="project-status mt-4">
          <div class="media mb-0">
            <p>10% </p>
            <div class="media-body text-end"><span>New booking</span></div>
          </div>
          <div class="progress" style="height: 5px">
            <div class="progress-bar-animated bg-primary progress-bar-striped" role="progressbar" style="width: `20%"
              aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>