<!-- Container-fluid starts-->
<div>
  <div class="row product-page-main p-0">
    <div class="col-xl-4 xl-cs-65 box-col-12">
      <div class="card">
        <div class="card-body">
          <div class="product-slider owl-carousel owl-theme" id="sync1">
            <div class="item"><img src="{{ url_for('static', filename='assets/images/ecommerce/1.png')}}" alt=""></div>
            <div class="item"><img src="{{ url_for('static', filename='assets/images/ecommerce/2.jpg')}}" alt=""></div>
            <div class="item"><img src="{{ url_for('static', filename='assets/images/ecommerce/3.jpg')}}" alt=""></div>
            <div class="item"><img src="{{ url_for('static', filename='assets/images/ecommerce/4.jpg')}}" alt=""></div>
          </div>
          <div class="owl-carousel owl-theme" id="sync2">
            <div class="item"><img src="{{ url_for('static', filename='assets/images/ecommerce/1.png')}}" alt=""></div>
            <div class="item"><img src="{{ url_for('static', filename='assets/images/ecommerce/2.jpg')}}" alt=""></div>
            <div class="item"><img src="{{ url_for('static', filename='assets/images/ecommerce/3.jpg')}}" alt=""></div>
            <div class="item"><img src="{{ url_for('static', filename='assets/images/ecommerce/4.jpg')}}" alt=""></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xxl-5 box-col-6 order-xxl-0 order-1">
      <div class="card">
        <div class="card-body">
          <div class="product-page-details">
            <h3>Emaar Al Noor</h3>
          </div>
          <div>
            <table class="product-page-width">
              <tbody>
                <tr>
                  <td><i class="icon-layout"></i></td>
                  <td><p class="product-title">&nbsp;&nbsp;2.9 km from haram</p></td>
                </tr>
              </tbody>
            </table>
          </div>
          <hr>
          <div>
            <table class="product-page-width">
              <tbody>
                <tr>
                  <td><i class="icon-location-pin"></i></td>
                  <td><p class="product-title">&nbsp;&nbsp;Makkah , Aziziah Street 5064 , al Noor Area , Aziziah 9309, Al Aziziyah, 34452 Makkah</p></td>
                </tr>
              </tbody>
            </table>
          </div>
          <hr>
          <div>
            <table class="product-page-width">
              <tbody>
                <tr>
                  <td> <b>Check in:</b></td>
                  <td>&nbsp;&nbsp;&nbsp;15:00</td>
                </tr>
                <tr>
                  <td> <b>Check out: </b></td>
                  <td>&nbsp;&nbsp;&nbsp;12:00</td>
                </tr>
              </tbody>
            </table>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-8">
              <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
            class="fa fa-star"></i><i class="fa fa-star"></i></div>
            </div>
          </div>
          <hr>
          <div>
            <table class="product-page-width">
              <tbody>
                <tr>
                  <td>&nbsp;&nbsp;&nbsp;Located in Makkah, 4.1 km from Masjid Al Haram, Emaar Al Noor provides accommodation with free WiFi and free private parking. The property is situated 5.9 km from Hira Cave, 4 km from Zamzam Well and 8.2 km from Makkah Museum. Guests can enjoy city views.
The hotel will provide guests with air-conditioned rooms offering a desk, a kettle, a fridge, a safety deposit box, a flat-screen TV and a private bathroom with a shower. At Emaar Al Noor each room is fitted with bed linen and towels.
Assalamu Alaika Ayyuha Annabi is 8.7 km from the accommodation, while Jabal Thawr is 15 km away. The nearest airport is King Abdulaziz International Airport, 96 km from Emaar Al Noor.</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>