<div class="col-xl-3 xl-cs-35 box-col-6">
  <div class="card">
    <div class="card-body">
      <h5>Comfort</h5>
      <br>
      <div class="collection-filter-block">
        <ul class="pro-services">
          <li>
            <div class="media"><i class="icon-rss-alt"></i>&nbsp;&nbsp;&nbsp;
              <div class="media-body">
                <h5>Free WIFI</h5>
                <p>Each room is equipped with free WiFi</p>
              </div>
            </div>
          </li>
          <li>
            <div class="media"><i class="icon-settings"></i>&nbsp;&nbsp;&nbsp;
              <div class="media-body">
                <h5>Air conditioner</h5>
                <p>All rooms are air-conditioned</p>
              </div>
            </div>
          </li>
          <li>
            <div class="media"><i class="icon-brush"></i>&nbsp;&nbsp;&nbsp;
              <div class="media-body">
                <h5>Cleaning</h5>
                <p>Room cleaning every two days</p>
              </div>
            </div>
          </li>
          <li>
            <div class="media"><i class="icon-car"></i>&nbsp;&nbsp;&nbsp;
              <div class="media-body">
                <h5>Free Transfer</h5>
                <p>Transfer from airport</p>
              </div>
            </div>
          </li>
          <li>
            <div class="media"><i class="icon-bag"></i>&nbsp;&nbsp;&nbsp;
              <div class="media-body">
                <h5>Luggage storage</h5>
                <p>Secure luggage storage</p>
              </div>
            </div>
          </li>
          <li>
            <div class="media"><i class="icon-shopping-cart-full"></i></i>&nbsp;&nbsp;&nbsp;
              <div class="media-body">
                <h5>Shop access</h5>
                <p>Supermarket right on the ground floor</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- silde-bar colleps block end here-->
  </div>
</div>
</div>
</div>
<div class="row">
  <div class="col-md-2">
    <h5 class="product-title">Room Type</h5>
  </div>
  <div class="col-md-2">
  </div>
</div>