{% extends 'base.html' %}


{% block css %}
<!-- Plugins css start-->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename=  'assets/css/vendors/prism.scss.css')}}">
<!-- Plugins css Ends-->
{% endblock %}

{% block content %}

<div class="page-body">
      <div class="container-fluid">
            {% include "layout/breadcrumb.html" %}

            {% include "general/widget/chart-widget/components/chart.html" %}
            {% include "general/widget/chart-widget/components/monthly-history.html" %}
            {% include "general/widget/chart-widget/components/crypto.html" %}
            {% include "general/widget/chart-widget/components/row-6-8.html" %}


      </div>
</div>

{% endblock %}    

{% block scriptcontent %}
<!-- Plugins JS start-->
    <script src="{{ url_for('static', filename= 'assets/js/chart/apex-chart/apex-chart.js')}}"></script>
    <script src="{{ url_for('static', filename= 'assets/js/chart/apex-chart/moment.min.js')}}"></script>
    <script src="{{ url_for('static', filename= 'assets/js/chart/apex-chart/stock-prices.js')}}"></script>
    <script src="{{ url_for('static', filename= 'assets/js/prism/prism.min.js')}}"></script>
    <script src="{{ url_for('static', filename= 'assets/js/clipboard/clipboard.min.js')}}"></script>
    <script src="{{ url_for('static', filename= 'assets/js/counter/jquery.waypoints.min.js')}}"></script>
    <script src="{{ url_for('static', filename= 'assets/js/counter/jquery.counterup.min.js')}}"></script>
    <script src="{{ url_for('static', filename= 'assets/js/counter/counter-custom.js')}}"></script>
    <script src="{{ url_for('static', filename= 'assets/js/custom-card/custom-card.js')}}"></script>
    <script src="{{ url_for('static', filename= 'assets/js/chart-widget.js')}}"></script>


<!-- Plugins JS Ends-->
{% endblock %}