{% extends 'base.html' %}




{% block css %}
<!-- Plugins css start-->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename=  'assets/css/vendors/animate.scss.css')}}">
<!-- Plugins css Ends-->
{% endblock %}

{% block content %}

<div class="page-body">
      <div class="container-fluid">
            {% include "layout/breadcrumb.html" %}
            <div class="row project-cards">
                  {% include "applications/projects/projects-list/components/projects-list-1.html" %}
                  <div class="col-sm-12">
                        <div class="card">
                              <div class="card-body">
                                    <div class="tab-content" id="top-tabContent">
                                          {% include
                                          "applications/projects/projects-list/components/projects-list-2.html" %}
                                          {% include
                                          "applications/projects/projects-list/components/projects-list-3.html" %}
                                          {% include
                                          "applications/projects/projects-list/components/projects-list-4.html" %}
                                          {% include
                                          "applications/projects/projects-list/components/projects-list-5.html" %}
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</div>

{% endblock %}

{% block scriptcontent %}
<!-- Plugins JS start-->
<script src="{{ url_for('static', filename='assets/js/typeahead/handlebars.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/typeahead/typeahead.bundle.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/typeahead/typeahead.custom.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/typeahead-search/handlebars.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/typeahead-search/typeahead-custom.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/tooltip-init.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/tooltip-init.js')}}"></script>
<!-- Plugins JS Ends-->
{% endblock %}