<div class="col-xl-8" xmlns="http://www.w3.org/1999/html">
    <form class="card">
        <div class="card-header">
            <h4 class="card-title mb-0">Edit Profile</h4>
            <div class="card-options"><a class="card-options-collapse" href="#" data-bs-toggle="card-collapse"><i
                        class="fe fe-chevron-up"></i></a><a class="card-options-remove" href="#"
                    data-bs-toggle="card-remove"><i class="fe fe-x"></i></a></div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="mb-3">
                        <label class="form-label">Tour operator name</label>
                        <input class="form-control" type="text" placeholder="Name">
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="mb-3">
                        <label class="form-label">Site</label>
                        <input class="form-control" type="text" placeholder="Site">
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="mb-3">
                        <label class="form-label">Email address</label>
                        <input class="form-control" type="email" placeholder="Email">
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="mb-3">
                        <label class="form-label">Address</label>
                        <input class="form-control" type="text" placeholder="Home Address">
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="mb-3">
                        <label class="form-label">Postal Code</label>
                        <input class="form-control" type="number" placeholder="ZIP Code">
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="mb-3">
                        <label class="form-label">Country</label>
                        <select class="form-control btn-square">
                            <option value="0">--Select--</option>
                            <option value="1">Germany</option>
                            <option value="2">Canada</option>
                            <option value="3">Usa</option>
                            <option value="4">Aus</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12">
                    <div>
                        <label class="form-label">About Me</label>
                        <textarea class="form-control" rows="5" placeholder="Enter About your description">Umma Tour is included in the Unified Federal Register of Tour Operators, as evidenced by license No. PTO 018616. Umma Tour is one of the first and major tour operators for Muslims. Since 2006, we have sent over 15,000 people for Hajj and Umrah. Today, Umma Tour is a company with offices in different cities and weekly flights to Umra. We are famous in the market of pilgrimage services as a reliable company with excellent service. Our site is one of the most popular pilgrimage sites in Russia and we have about 1 million unique visitors. In addition to the main destinations - Hajj and Umrah, on our website you can buy air tickets to anywhere in the world at the lowest prices. We strive to provide our clients with the best services and create unforgettable pilgrimage experiences. Our team consists of experienced professionals who are always ready to help you realize your dream of visiting holy places. Throughout your journey - from the moment of booking to completion - you can rely on us completely.</textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-end">
            <button class="btn btn-primary" type="submit">Update Profile</button>
        </div>
    </form>
</div>