<div class="col-xl-3 col-sm-6 xl-4">
  <div class="card">
    <div class="product-box">
      <div class="product-img">
        <div class="ribbon ribbon-bookmark ribbon-vertical-right ribbon-info"><i class="icofont icofont-love"></i></div>
        <img class="img-fluid" src="{{ url_for('static', filename= 'assets/images/ecommerce/02.jpg')}}" alt="">
        <div class="product-hover">
          <ul>
            <li>
              <button class="btn" type="button"><i class="icon-shopping-cart"></i></button>
            </li>
            <li>
              <button class="btn" type="button" data-bs-toggle="modal" data-bs-target="#exampleModalCenter12"><i
                  class="icon-eye"></i></button>
            </li>
            <li>
              <button class="btn" type="button"><i class="icofont icofont-law-alt-2"></i></button>
            </li>
          </ul>
        </div>
      </div>
      <div class="modal fade" id="exampleModalCenter12" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenter12" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <div class="product-box row">
                <div class="product-img col-lg-6"><img class="img-fluid"
                    src="{{ url_for('static', filename='assets/images/ecommerce/02.jpg')}}" alt=""></div>
                <div class="product-details col-lg-6 text-start">
                  <h4>Woman T-shirt</h4>
                  <div class="product-price">$50
                    <del>$350.00 </del>
                  </div>
                  <div class="product-view">
                    <h6 class="f-w-600">Product Details</h6>
                    <p class="mb-0">Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium
                      doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo.</p>
                  </div>
                  <div class="product-size">
                    <ul>
                      <li>
                        <button class="btn btn-outline-light" type="button">M</button>
                      </li>
                      <li>
                        <button class="btn btn-outline-light" type="button">L</button>
                      </li>
                      <li>
                        <button class="btn btn-outline-light" type="button">Xl</button>
                      </li>
                    </ul>
                  </div>
                  <div class="product-qnty">
                    <h6 class="f-w-600">Quantity</h6>
                    <fieldset>
                      <div class="input-group">
                        <input class="touchspin text-center" type="text" value="5">
                      </div>
                    </fieldset>
                    <div class="addcart-btn"><a class="btn btn-primary" href="cart.html">Add to Cart</a><a
                        class="btn btn-primary ms-2" href="product-page.html">View Details</a></div>
                  </div>
                </div>
              </div>
              <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
          </div>
        </div>
      </div>
      <div class="product-details">
        <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
            class="fa fa-star"></i><i class="fa fa-star"></i></div><a href="product-page.html">
          <h4>Dream Beauty Fashion</h4>
        </a>
        <p>Tops for Women Stylish</p>
        <div class="product-price">$30.00
          <del>$360.00 </del>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xl-3 col-sm-6 xl-4">
  <div class="card">
    <div class="product-box">
      <div class="product-img"><img class="img-fluid"
          src="{{ url_for('static', filename='assets/images/ecommerce/03.jpg')}}" alt="">
        <div class="product-hover">
          <ul>
            <li>
              <button class="btn" type="button"><i class="icon-shopping-cart"></i></button>
            </li>
            <li>
              <button class="btn" type="button" data-bs-toggle="modal" data-bs-target="#exampleModalCenter13"><i
                  class="icon-eye"></i></button>
            </li>
            <li>
              <button class="btn" type="button"><i class="icofont icofont-law-alt-2"></i></button>
            </li>
          </ul>
        </div>
      </div>
      <div class="modal fade" id="exampleModalCenter13" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenter13" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <div class="product-box row">
                <div class="product-img col-lg-6"><img class="img-fluid"
                    src="{{ url_for('static', filename='assets/images/ecommerce/03.jpg')}}" alt=""></div>
                <div class="product-details col-lg-6 text-start">
                  <h4>Woman T-shirt</h4>
                  <div class="product-price">$26.00
                    <del>$350.00 </del>
                  </div>
                  <div class="product-view">
                    <h6 class="f-w-600">Product Details</h6>
                    <p class="mb-0">Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium
                      doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo.</p>
                  </div>
                  <div class="product-size">
                    <ul>
                      <li>
                        <button class="btn btn-outline-light" type="button">M</button>
                      </li>
                      <li>
                        <button class="btn btn-outline-light" type="button">L</button>
                      </li>
                      <li>
                        <button class="btn btn-outline-light" type="button">Xl</button>
                      </li>
                    </ul>
                  </div>
                  <div class="product-qnty">
                    <h6 class="f-w-600">Quantity</h6>
                    <fieldset>
                      <div class="input-group">
                        <input class="touchspin text-center" type="text" value="5">
                      </div>
                    </fieldset>
                    <div class="addcart-btn"><a class="btn btn-primary" href="cart.html">Add to Cart</a><a
                        class="btn btn-primary ms-2" href="product-page.html">View Details</a></div>
                  </div>
                </div>
              </div>
              <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
          </div>
        </div>
      </div>
      <div class="product-details">
        <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
            class="fa fa-star"></i><i class="fa fa-star"></i></div><a href="product-page.html">
          <h4>VOXATI</h4>
        </a>
        <p>Men's Denim Jacket</p>
        <div class="product-price">$45
          <del>$400.00 </del>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xl-3 col-sm-6 xl-4">
  <div class="card">
    <div class="product-box">
      <div class="product-img">
        <div class="ribbon ribbon-clip ribbon-warning">Hot</div><img class="img-fluid"
          src="{{ url_for('static', filename='assets/images/ecommerce/04.jpg')}}" alt="">
        <div class="product-hover">
          <ul>
            <li>
              <button class="btn" type="button"><i class="icon-shopping-cart"></i></button>
            </li>
            <li>
              <button class="btn" type="button" data-bs-toggle="modal" data-bs-target="#exampleModalCenter14"><i
                  class="icon-eye"></i></button>
            </li>
            <li>
              <button class="btn" type="button"><i class="icofont icofont-law-alt-2"></i></button>
            </li>
          </ul>
        </div>
      </div>
      <div class="modal fade" id="exampleModalCenter14" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenter14" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <div class="product-box row">
                <div class="product-img col-lg-6"><img class="img-fluid"
                    src="{{ url_for('static', filename='assets/images/ecommerce/04.jpg')}}" alt=""></div>
                <div class="product-details col-lg-6 text-start">
                  <h4>Woman T-shirt</h4>
                  <div class="product-price">$90
                    <del>$350.00 </del>
                  </div>
                  <div class="product-view">
                    <h6 class="f-w-600">Product Details</h6>
                    <p class="mb-0">Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium
                      doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo.</p>
                  </div>
                  <div class="product-size">
                    <ul>
                      <li>
                        <button class="btn btn-outline-light" type="button">M</button>
                      </li>
                      <li>
                        <button class="btn btn-outline-light" type="button">L</button>
                      </li>
                      <li>
                        <button class="btn btn-outline-light" type="button">Xl</button>
                      </li>
                    </ul>
                  </div>
                  <div class="product-qnty">
                    <h6 class="f-w-600">Quantity</h6>
                    <fieldset>
                      <div class="input-group">
                        <input class="touchspin text-center" type="text" value="5">
                      </div>
                    </fieldset>
                    <div class="addcart-btn"><a class="btn btn-primary" href="cart.html">Add to Cart</a><a
                        class="btn btn-primary ms-2" href="product-page.html">View Details</a></div>
                  </div>
                </div>
              </div>
              <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
          </div>
        </div>
      </div>
      <div class="product-details">
        <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
            class="fa fa-star"></i><i class="fa fa-star"></i></div><a href="product-page.html">
          <h4>Cyclamen</h4>
        </a>
        <p>Stylish co-ord set 2 piece dress for women</p>
        <div class="product-price">$30.00
          <del>$350.00 </del>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xl-3 col-sm-6 xl-4">
  <div class="card">
    <div class="product-box">
      <div class="product-img"><img class="img-fluid"
          src="{{ url_for('static', filename='assets/images/ecommerce/02.jpg')}}" alt="">
        <div class="product-hover">
          <ul>
            <li>
              <button class="btn" type="button"><i class="icon-shopping-cart"></i></button>
            </li>
            <li>
              <button class="btn" type="button" data-bs-toggle="modal" data-bs-target="#exampleModalCenter15"><i
                  class="icon-eye"></i></button>
            </li>
            <li>
              <button class="btn" type="button"><i class="icofont icofont-law-alt-2"></i></button>
            </li>
          </ul>
        </div>
      </div>
      <div class="modal fade" id="exampleModalCenter15" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenter15" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <div class="product-box row">
                <div class="product-img col-lg-6"><img class="img-fluid"
                    src="{{ url_for('static', filename='assets/images/ecommerce/02.jpg')}}" alt=""></div>
                <div class="product-details col-lg-6 text-start">
                  <h4>Woman T-shirt</h4>
                  <div class="product-price">$30
                    <del>$350.00 </del>
                  </div>
                  <div class="product-view">
                    <h6 class="f-w-600">Product Details</h6>
                    <p class="mb-0">Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium
                      doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo.</p>
                  </div>
                  <div class="product-size">
                    <ul>
                      <li>
                        <button class="btn btn-outline-light" type="button">M</button>
                      </li>
                      <li>
                        <button class="btn btn-outline-light" type="button">L</button>
                      </li>
                      <li>
                        <button class="btn btn-outline-light" type="button">Xl</button>
                      </li>
                    </ul>
                  </div>
                  <div class="product-qnty">
                    <h6 class="f-w-600">Quantity</h6>
                    <fieldset>
                      <div class="input-group">
                        <input class="touchspin text-center" type="text" value="5">
                      </div>
                    </fieldset>
                    <div class="addcart-btn"><a class="btn btn-primary" href="cart.html">Add to Cart</a><a
                        class="btn btn-primary ms-2" href="product-page.html">View Details</a></div>
                  </div>
                </div>
              </div>
              <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
          </div>
        </div>
      </div>
      <div class="product-details">
        <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
            class="fa fa-star"></i><i class="fa fa-star"></i></div><a href="product-page.html">
          <h4>Dream Beauty Fashion</h4>
        </a>
        <p>Tops for Women Stylish</p>
        <div class="product-price">$30.00
          <del>$360.00 </del>
        </div>
      </div>
    </div>
  </div>
</div>