<div class="product-wrapper-grid">
  <div class="row">
  <div class="col-xl-3 col-sm-6 xl-4">
    <div class="card">
      <div class="product-box">
        <div class="product-img"><img class="img-fluid"
            src="{{ url_for('static', filename='assets/images/ecommerce/01.jpg')}}" alt="">
          <a href="/product_page"><div class="product-hover"></div></a>
        </div>
        <div class="product-details">
          <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
              class="fa fa-star"></i><i class="fa fa-star"></i></div><a href="/product_page">
            <h4>Emaar Elite Makka</h4>
          </a>
          <p>Makkah, Ajyad Street 6309</p>
          <div class="product-price">$26.00
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-sm-6 xl-4">
    <div class="card">
      <div class="product-box">
        <div class="product-img">
          <img class="img-fluid"
            src="{{ url_for('static', filename='assets/images/ecommerce/02.jpg')}}" alt="">
          <a href="/product_page"><div class="product-hover"></div></a>
        </div>
        <div class="product-details">
          <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
              class="fa fa-star"></i><i class="fa fa-star"></i></div><a href="product-page.html">
            <h4>Emaar Al Noor</h4>
          </a>
          <p>Makkah, Saudia Arabia</p>
          <div class="product-price">$26.00
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-sm-6 xl-4">
    <div class="card">
      <div class="product-box">
        <div class="product-img"><img class="img-fluid"
            src="{{ url_for('static', filename='assets/images/ecommerce/003.png')}}" alt="">
          <a href="/product_page"><div class="product-hover"></div></a>
        </div>
        <div class="product-details">
          <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
              class="fa fa-star"></i><i class="fa fa-star"></i></div><a href="product-page.html">
            <h4>Emaar Al Khalil</h4>
          </a>
          <p>Makkah, Ibrahim al Khalil Street, Ajyad, 21599</p>
          <div class="product-price">$26.00
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-sm-6 xl-4">
    <div class="card">
      <div class="product-box">
        <div class="product-img">
          <div class="ribbon ribbon-success ribbon-right">50%</div><img class="img-fluid"
            src="{{ url_for('static', filename='assets/images/ecommerce/04.jpg')}}" alt="">
          <a href="/product_page"><div class="product-hover"></div></a>
        </div>
        <div class="product-details">
          <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
              class="fa fa-star"></i><i class="fa fa-star"></i></div><a href="product-page.html">
            <h4>Emaar Grand</h4>
          </a>
          <p>Makkah , Ibrahim al Khalil Street, Ajyad, 21599</p>
          <div class="product-price">$26.00
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-sm-6 xl-4">
    <div class="card">
      <div class="product-box">
        <div class="product-img"><img class="img-fluid"
            src="{{ url_for('static', filename='assets/images/ecommerce/005.png')}}" alt="">
          <a href="/product_page"><div class="product-hover"></div></a>
        </div>
        <div class="product-details">
          <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
              class="fa fa-star"></i><i class="fa fa-star"></i></div><a href="/product_page">
            <h4>Emaar Al Manar</h4>
          </a>
          <p>Makkah, Ibrahim Al Khalil Ibrahim Al Alkhlil Street - Mesfala, 34452</p>
          <div class="product-price">$26.00
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-sm-6 xl-4">
    <div class="card">
      <div class="product-box">
        <div class="product-img"><img class="img-fluid"
            src="{{ url_for('static', filename='assets/images/ecommerce/006.png')}}" alt="">
          <a href="/product_page"><div class="product-hover"></div></a>
        </div>
        <div class="product-details">
          <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
              class="fa fa-star"></i><i class="fa fa-star"></i></div><a href="product-page.html">
            <h4>Emaar Andalusiah</h4>
          </a>
          <p>Makkah, Ibrahim Al Khalil Street, Shubaikah, Mecca 24231</p>
          <div class="product-price">$26.00
          </div>
        </div>
      </div>
    </div>
  </div>