{% extends 'base.html' %}
{% block content %}

{% include "general/dashboard/default/components/loader.html" %}

<div class="page-body">
      <div class="container-fluid">
            {% include "layout/breadcrumb.html" %}

            {% include "general/dashboard/default/components/top.html" %}
            {% include "general/dashboard/default/components/centre.html" %}
            {% include "general/dashboard/default/components/bottom.html" %}

      </div>
</div>

{% endblock %}

{% block scriptcontent %}
<script src="{{ url_for('static', filename= 'assets/js/chart/knob/knob.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/clock.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/chart/apex-chart/apex-chart.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/chart/apex-chart/stock-prices.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/chart/apex-chart/moment.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/notify/bootstrap-notify.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/dashboard/default.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/notify/index.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/typeahead/handlebars.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/typeahead/typeahead.bundle.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/typeahead/typeahead.custom.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/typeahead-search/handlebars.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/typeahead-search/typeahead-custom.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/height-equal.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/animation/wow/wow.min.js')}}"></script>
<!-- Plugins JS start-->
<!-- Plugins JS Ends-->
{% endblock %}
{% block script %} 
<script>new WOW().init();</script>
{% endblock %}