<head>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=7d20ccbf-ab74-4c5f-92e5-6b83e455290c&lang=ru_RU" type="text/javascript">
    </script>
</head>
<script type="text/javascript">
    ymaps.ready(init);
    function init(){
        var myMap = new ymaps.Map("map", {
            center: [21.42, 39.82],
            zoom: 12
        });
    }
</script>
<div class="card">
  <div class="card-header">
    <h5>All hotels on the map</h5><span>Choose the hotel marked on the map</span>
  </div>
  <div class="card-body">
    <div id="map" style="width: max; height: 400px"></div>
  </div>
</div>