<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <div class="form theme-form">

          <div class="row">
            <div class="col-sm-4">
              <div class="mb-3">
                <label>Type of pilgrimage</label>
                <select class="form-select">
                  <option>Hajj</option>
                  <option>Umrah</option>
                </select>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="mb-3">
                <label>Distance to mosque </label>
                <select class="form-select">
                  <option>100m</option>
                  <option>200m</option>
                  <option>300m</option>
                  <option>1000m</option>
                  <option>+1500m</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <div class="mb-3">
                <label>Man</label>
                <input class="form-control" type="text" placeholder="0">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="mb-3">
                <label>Woman</label>
                <input class="form-control" type="text" placeholder="0">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="mb-3">
                <label>Family</label>
                <input class="form-control" type="text" placeholder="0">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xl-4 col-md-6">
              <div class="mb-3">
                <label>City</label>
                <select class="form-select">
                  <option>Mecca</option>
                  <option>Medina</option>
                </select>
              </div>
            </div>
            <div class="col-xl-4 col-sm-6">
              <div class="mb-3">
                <label>Check-in Date</label>
                <input class="datepicker-here form-control" type="text" data-language="en">
              </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-12 col-sm-6">
              <div class="mb-3">
                <label>Check-out Date</label>
                <input class="datepicker-here form-control" type="text" data-language="en">
              </div>
            </div>
          </div>
<!--          <div class="row">-->
<!--            <div class="col">-->
<!--              <div class="mb-3">-->
<!--                <label>Upload project file</label>-->
<!--                <form class="dropzone" id="singleFileUpload" action="/upload.php"> -->
<!--                  <div class="dz-message needsclick"><i class="icon-cloud-up"></i>-->
<!--                    <h6>Drop files here or click to upload.</h6><span class="note needsclick">(This is just a demo-->
<!--                      dropzone. Selected files are <strong>not</strong> actually uploaded.)</span>-->
<!--                  </div>-->
<!--                </form>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

          <div class="row">
            <div class="col">
              <div class="text-end"><a class="btn btn-square btn-outline-primary" href="#">Search</a></div>
            </div>
          </div>
        </div>
        <div class="row">
            {% include "miscellaneous/maps/vector-maps/components/vector-map.html" %}
        </div>
      </div>
    </div>
  </div>
</div>