<!-- Page Sidebar Start-->
<div class="sidebar-wrapper" sidebar-layout="stroke-svg">
  <div>
    <div class="logo-wrapper">
        <a href="/dashboard">
            <img class="img-fluid for-light"
          src="{{ url_for('static', filename='assets/images/logo/logo.png')}}" alt="">
        </a>
      <div class="back-btn"><i class="fa fa-angle-left"></i></div>
      <div class="toggle-sidebar"><i class="status_toggle middle sidebar-toggle" data-feather="grid"> </i></div>
    </div>
    <div class="logo-icon-wrapper"><a href="/"><img class="img-fluid"
          src="{{ url_for('static', filename='assets/images/logo/logo-icon.png')}}" alt=""></a></div>
    <nav class="sidebar-main">
      <div class="left-arrow" id="left-arrow"><i data-feather="arrow-left"></i></div>
        <ul class="sidebar-links" id="simple-bar">
            <li class="back-btn"><a href="/"><img class="img-fluid"
                                                  src="{{ url_for('static', filename='assets/images/logo/logo-icon.png')}}" alt=""></a>
                <div class="mobile-back text-end"><span>Back</span><i class="fa fa-angle-right ps-2" aria-hidden="true"></i>
                </div>
            </li>

            <li class="sidebar-main-title">
                <div>
                    <h6 class="lan-1">General</h6>
                </div>
            </li>

            <li class="sidebar-list">
                <a class="sidebar-link sidebar-title link-nav" href="/dashboard">
                    <svg class="stroke-icon">
                        <use href="{{ url_for('static', filename='assets/svg/icon-sprite.svg')}}#stroke-project"></use>
                    </svg>
                    <svg class="fill-icon">
                        <use href="{{ url_for('static', filename='assets/svg/icon-sprite.svg')}}#fill-project"></use>
                    </svg><span>Dashboard</span>
                </a>
            </li>

            <li class="sidebar-list">
                <a class="sidebar-link sidebar-title link-nav" href="/bookings">
                    <svg class="stroke-icon">
                        <use href="{{ url_for('static', filename='assets/svg/icon-sprite.svg')}}#stroke-project"></use>
                    </svg>
                    <svg class="fill-icon">
                        <use href="{{ url_for('static', filename='assets/svg/icon-sprite.svg')}}#fill-project"></use>
                    </svg><span>Bookings</span>
                </a>
            </li>

            <li class="sidebar-list"><a class="sidebar-link sidebar-title link-nav" href="/guests">
                <svg class="stroke-icon">
                    <use href="{{ url_for('static', filename='assets/svg/icon-sprite.svg')}}#stroke-project"></use>
                </svg>
                <svg class="fill-icon">
                    <use href="{{ url_for('static', filename='assets/svg/icon-sprite.svg')}}#fill-project"></use>
                </svg><span>Guests</span></a>
            </li>

            <li class="sidebar-list"><a class="sidebar-link sidebar-title link-nav" href="/list_products">
                <svg class="stroke-icon">
                    <use href="{{ url_for('static', filename='assets/svg/icon-sprite.svg')}}#stroke-project"></use>
                </svg>
                <svg class="fill-icon">
                    <use href="{{ url_for('static', filename='assets/svg/icon-sprite.svg')}}#fill-project"></use>
                </svg><span>Visa Saudi</span></a>
            </li>

            <li class="sidebar-main-title">
                <div>
                    <h6 class="lan-8">Applications</h6>
                </div>
            </li>

            <li class="sidebar-list"><a class="sidebar-link sidebar-title link-nav" href="/settings">
                <svg class="stroke-icon">
                    <use href="{{ url_for('static', filename='assets/svg/icon-sprite.svg')}}#stroke-project"></use>
                </svg>
                <svg class="fill-icon">
                    <use href="{{ url_for('static', filename='assets/svg/icon-sprite.svg')}}#fill-project"></use>
                </svg><span>Settings</span></a>
            </li>

            <li class="sidebar-list"><a class="sidebar-link sidebar-title link-nav" href="/chat_app">
                <svg class="stroke-icon">
                    <use href="{{ url_for('static', filename='assets/svg/icon-sprite.svg')}}#stroke-chat"></use>
                </svg>
                <svg class="fill-icon">
                    <use href="{{ url_for('static', filename='assets/svg/icon-sprite.svg')}}#fill-chat"></use>
                </svg><span>Chat</span></a>
            </li>

            <li class="sidebar-list"><a class="sidebar-link sidebar-title link-nav" href="/FAQ">
                <svg class="stroke-icon">
                    <use href="{{ url_for('static', filename='assets/svg/icon-sprite.svg')}}#stroke-faq"></use>
                </svg>
                <svg class="fill-icon">
                    <use href="{{ url_for('static', filename='assets/svg/icon-sprite.svg')}}#fill-faq"></use>
                </svg><span>FAQ</span></a>
            </li>
    </nav>
  </div>
</div>
<!-- Page Sidebar Ends-->