<div class="col-xl-3 xl-40">
  <div class="default-according style-1 faq-accordion job-accordion" id="accordionoc">
    <div class="row">
      <div class="col-xl-12">
        <div class="card">
          <div class="card-header">
            <h5 class="mb-0">
              <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#collapseicon" aria-expanded="true"
                aria-controls="collapseicon">Options</button>
            </h5>
          </div>
          <div class="collapse show" id="collapseicon" aria-labelledby="collapseicon" data-bs-parent="#accordion">
            <div class="card-body filter-cards-view animate-chk">
              <div class="checkbox-animated mt-0">
                <div class="learning-header"><span class="f-w-600">Service</span></div>
                <label class="d-block" for="chk-ani6">
                  <input class="checkbox_animated" id="chk-ani6" type="checkbox"> Transfer
                </label>
                <label class="d-block" for="chk-ani7">
                  <input class="checkbox_animated" id="chk-ani7" type="checkbox"> Breakfast only
                </label>
                <label class="d-block" for="chk-ani8">
                  <input class="checkbox_animated" id="chk-ani8" type="checkbox"> Breakfast/dinner
                </label>
              </div>
              <div class="checkbox-animated mt-0">
                <div class="learning-header"><span class="f-w-600">Status</span></div>
                <label class="d-block" for="chk-ani3">
                  <input class="checkbox_animated" id="chk-ani3" type="checkbox"> Registration
                </label>
                <label class="d-block" for="chk-ani4">
                  <input class="checkbox_animated" id="chk-ani4" type="checkbox"> Progress
                </label>
                <label class="d-block" for="chk-ani5">
                  <input class="checkbox_animated" id="chk-ani5" type="checkbox"> Completed
                </label>
              </div>
              <a href="/bookings"><button class="btn btn-primary text-center" type="button">Book!</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>