<div class="col-xl-12">
  <div class="card">
    <div class="blog-box blog-list row">
      <div class="col-sm-4"><img class="img-fluid sm-100-w"
          src="{{ url_for('static', filename='assets/images/faq/1.jpg' )}}" alt=""></div>
      <div class="col-sm-7">
        <div class="blog-details">
          <div class="blog-date"><h5>Twin/Double - RO (24m2)</h5></div>
          <h6 class="font-primary">Available</h6>
          <div class="blog-bottom-content">
            <ul class="blog-social">
              <li>Price: <b>$150</b></li>
              <li>For 3 Nights</li>
            </ul>
            <hr>
            <p class="mt-0">Comfy beds,
This elegantly decorated, air-conditioned room offers a small seating area with a flat-screen TV and an electric kettle. The bathroom is fitted with a bath or a shower.
            </p>
          </div>
          <hr>
          <div class="col-md-5">
              <div class="mb-3">
                  <h6>* Select number of rooms:</h6>
                  <select class="form-control btn-square">
                      <option value="0">0</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                  </select>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xl-12">
  <div class="card">
    <div class="blog-box blog-list row">
      <div class="col-sm-4"><img class="img-fluid sm-100-w"
          src="{{ url_for('static', filename='assets/images/faq/2.jpg' )}}" alt=""></div>
      <div class="col-sm-7">
        <div class="blog-details">
          <div class="blog-date"><h5>Triple - RO (34m2)</h5></div>
          <h6 class="font-primary">Available</h6>
          <div class="blog-bottom-content">
            <ul class="blog-social">
              <li>Price: <b>$150</b></li>
              <li>For 3 Nights</li>
            </ul>
            <hr>
            <p class="mt-0">Comfy beds,
This elegantly decorated, air-conditioned room offers a small seating area with a flat-screen TV and an electric kettle. The bathroom is fitted with a bath or a shower.
            </p>
          </div>
          <hr>
          <div class="col-md-5">
              <div class="mb-3">
                  <h6>* Select number of rooms</h6>
                  <select class="form-control btn-square">
                      <option value="0">0</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                  </select>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>