<div class="col-xxl-4 col-xl-12 col-md-6 col-sm-12 notification box-col-6">
  <div class="card height-equal">
    <div class="card-header card-no-border">
      <div class="header-top">
        <h5 class="m-0">Last booking process</h5>
      </div>
    </div>
    <div class="card-body pt-0">
      <ul>
        <li class="d-flex">
          <div class="activity-dot-primary"></div>
          <div class="w-100 ms-3">
            <p class="d-flex justify-content-between mb-2"><span class="date-content light-background">8th March, 2023
              </span><span>1 day ago</span></p>
            <h6>Initiate new booking process<span class="dot-notification"></span></h6>
            <p class="f-light">New booking request created</p>
          </div>
        </li>
        <li class="d-flex">
          <div class="activity-dot-warning"></div>
          <div class="w-100 ms-3">
            <p class="d-flex justify-content-between mb-2"><span class="date-content light-background">15th Oct, 2023
              </span><span>Today</span></p>
            <h6>Issuance of visas<span class="dot-notification"></span></h6>
            <p class="f-light">The process of issuing new visas for pilgrims is underway</p>
          </div>
        </li>
        <li class="d-flex">
          <div class="activity-dot-secondary"></div>
          <div class="w-100 ms-3">
            <p class="d-flex justify-content-between mb-2"><span class="date-content light-background">20th Sep, 2023
              </span><span>12:00 PM</span></p>
            <h6>Arrival of pilgrims<span class="dot-notification"></span></h6>
            <p class="f-light">Pilgrims entering the hotel</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="col-xxl-4 col-md-6 appointment-sec box-col-6">
  <div class="appointment">
    <div class="card">
      <div class="card-header card-no-border">
        <div class="header-top">
          <h6 class="m-0">Last activity</h6>
        </div>
      </div>
      <div class="card-body pt-0">
        <div class="appointment-table table-responsive">
          <table class="table table-bordernone">
            <tbody>
               <tr>
                <td><img class="img-fluid img-40 rounded-circle"
                    src="{{ url_for('static', filename='assets/images/dashboard/user/1.jpg')}}" alt="user"></td>
                <td class="img-content-box">Fatma Ulduz<span
                    class="f-light">10 minutes ago</span></td>
                <td class="text-end">
                  <p class="m-0 font-success">Settled pilgrims: 150</p>
                </td>
              </tr>
              <tr>
                <td><img class="img-fluid img-40 rounded-circle"
                    src="{{ url_for('static', filename='assets/images/dashboard/user/2.jpg')}}" alt="user"></td>
                <td class="img-content-box">Madina Alieva<span class="f-light">19 minutes ago</span></td>
                <td class="text-end">
                  <p class="m-0 font-success">Settled pilgrims: 89</p>
                </td>
              </tr>
              <tr>
                <td><img class="img-fluid img-40 rounded-circle"
                    src="{{ url_for('static', filename='assets/images/dashboard/user/3.jpg')}}" alt="user"></td>
                <td class="img-content-box">Issa Bell<span class="f-light">2 hours ago</span></td>
                <td class="text-end">
                  <p class="m-0 font-success">Settled pilgrims: 78</p>
                </td>
              </tr>
              <tr>
                <td><img class="img-fluid img-40 rounded-circle"
                    src="{{ url_for('static', filename='assets/images/dashboard/user/4.jpg')}}" alt="user"></td>
                <td class="img-content-box">Dzhamil Zaki<span class="f-light">8 hours ago</span></td>
                <td class="text-end">
                  <p class="m-0 font-success">Settled pilgrims: 55</p>
                </td>
              </tr>
              <tr>
                <td><img class="img-fluid img-40 rounded-circle"
                    src="{{ url_for('static', filename='assets/images/dashboard/user/4.jpg')}}" alt="user"></td>
                <td class="img-content-box">Ali Abbas<span class="f-light">8 hours ago</span></td>
                <td class="text-end">
                  <p class="m-0 font-success">Settled pilgrims: 12</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xxl-4 col-md-6 box-col-6">
  <div class="card">
    <div class="card-header card-no-border">
      <div class="header-top">
        <h5 class="m-0">Timeline</h5>
      </div>
    </div>
    <div class="card-body pt-0">
      <div class="schedule-container">
        <div id="schedulechart"></div>
      </div>
    </div>
  </div>
</div>