<tr>
  <td>
    <div class="media"><img class="rounded-circle img-30 me-3"
        src="{{ url_for('static', filename='assets/images/user/12.png')}}" alt="Generic placeholder image">
      <div class="media-body align-self-center">
        <div><a href="/edit_profile">Quinn Flynn</a></div>
      </div>
    </div>
  </td>
  <td>Umrah</td>
  <td>$342,000</td>
  <td>Edinburgh</td>
  <td>9</td>
  <td>q.flynn@datatables.net</td>
</tr>
<tr>
  <td>
    <div class="media"><img class="rounded-circle img-30 me-3"
        src="{{ url_for('static', filename='assets/images/user/1.jpg')}}" alt="Generic placeholder image">
      <div class="media-body align-self-center">
        <div><a href="/edit_profile">Charde Marshall</a></div>
      </div>
    </div>
  </td>
  <td>Umrah</td>
  <td>$470,600</td>
  <td>San Francisco</td>
  <td>6</td>
  <td>c.marshall@datatables.net</td>
</tr>
<tr>
  <td>
    <div class="media"><img class="rounded-circle img-30 me-3"
        src="{{ url_for('static', filename='assets/images/user/2.png')}}" alt="Generic placeholder image">
      <div class="media-body align-self-center">
        <div><a href="/edit_profile">Haley Kennedy</a></div>
      </div>
    </div>
  </td>
  <td>Umrah</td>
  <td>$313,500</td>
  <td>London</td>
  <td>3</td>
  <td>h.kennedy@datatables.net</td>
</tr>
<tr>
  <td>
    <div class="media"><img class="rounded-circle img-30 me-3"
        src="{{ url_for('static', filename='assets/images/user/3.png')}}" alt="Generic placeholder image">
      <div class="media-body align-self-center">
        <div><a href="/edit_profile">Tatyana Fitzpatrick</a></div>
      </div>
    </div>
  </td>
  <td>Umrah</td>
  <td>$385,750</td>
  <td>London</td>
  <td>1</td>
  <td>t.fitzpatrick@datatables.net</td>
</tr>
<tr>
  <td>
    <div class="media"><img class="rounded-circle img-30 me-3"
        src="{{ url_for('static', filename='assets/images/user/4.jpg')}}" alt="Generic placeholder image">
      <div class="media-body align-self-center">
        <div><a href="/edit_profile">Michael Silva</a></div>
      </div>
    </div>
  </td>
  <td>Hajj</td>
  <td>$198,500</td>
  <td>London</td>
  <td>1</td>
  <td>m.silva@datatables.net</td>
</tr>
<tr>
  <td>
    <div class="media"><img class="rounded-circle img-30 me-3"
        src="{{ url_for('static', filename='assets/images/user/5.jpg')}}" alt="Generic placeholder image">
      <div class="media-body align-self-center">
        <div><a href="/edit_profile">Paul Byrd</a></div>
      </div>
    </div>
  </td>
  <td>Umrah</td>
  <td>$725,000</td>
  <td>New York</td>
  <td>3</td>
  <td>p.byrd@datatables.net</td>
</tr>
<tr>
  <td>
    <div class="media"><img class="rounded-circle img-30 me-3"
        src="{{ url_for('static', filename='assets/images/user/6.jpg')}}" alt="Generic placeholder image">
      <div class="media-body align-self-center">
        <div><a href="/edit_profile">Gloria Little</a></div>
      </div>
    </div>
  </td>
  <td>Umrah</td>
  <td>$237,500</td>
  <td>New York</td>
  <td>1</td>
  <td>g.little@datatables.net</td>
</tr>
<tr>
  <td>
    <div class="media"><img class="rounded-circle img-30 me-3"
        src="{{ url_for('static', filename='assets/images/user/7.jpg')}}" alt="Generic placeholder image">
      <div class="media-body align-self-center">
        <div><a href="/edit_profile">Bradley Greer</a></div>
      </div>
    </div>
  </td>
  <td>Umrah</td>
  <td>$132,000</td>
  <td>London</td>
  <td>2</td>
  <td>b.greer@datatables.net</td>
</tr>
<tr>
  <td>
    <div class="media"><img class="rounded-circle img-30 me-3"
        src="{{ url_for('static', filename='assets/images/user/8.jpg')}}" alt="Generic placeholder image">
      <div class="media-body align-self-center">
        <div><a href="/edit_profile">Dai Rios</a></div>
      </div>
    </div>
  </td>
  <td>Hajj</td>
  <td>$217,500</td>
  <td>Edinburgh</td>
  <td>2</td>
  <td>d.rios@datatables.net</td>
</tr>
<tr>
  <td>
    <div class="media"><img class="rounded-circle img-30 me-3"
        src="{{ url_for('static', filename='assets/images/user/9.jpg')}}" alt="Generic placeholder image">
      <div class="media-body align-self-center">
        <div><a href="/edit_profile">Jenette Caldwell</a></div>
      </div>
    </div>
  </td>
  <td>Umrah</td>
  <td>$345,000</td>
  <td>New York</td>
  <td>1</td>
  <td>j.caldwell@datatables.net</td>
</tr>
<tr>
  <td>
    <div class="media"><img class="rounded-circle img-30 me-3"
        src="{{ url_for('static', filename='assets/images/user/10.jpg')}}" alt="Generic placeholder image">
      <div class="media-body align-self-center">
        <div><a href="/edit_profile">Yuri Berry</a></div>
      </div>
    </div>
  </td>
  <td>Hajj</td>
  <td>$675,000</td>
  <td>New York</td>
  <td>6</td>
  <td>y.berry@datatables.net</td>
</tr>
<tr>
  <td>
    <div class="media"><img class="rounded-circle img-30 me-3"
        src="{{ url_for('static', filename='assets/images/user/11.png')}}" alt="Generic placeholder image">
      <div class="media-body align-self-center">
        <div><a href="/edit_profile">Caesar Vance</a></div>
      </div>
    </div>
  </td>
  <td>Umrah</td>
  <td>$106,450</td>
  <td>New York</td>
  <td>8</td>
  <td>c.vance@datatables.net</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</div>
<!-- Container-fluid Ends-->