<div class="table-responsive">
  <table class="display" id="basic-6">
    <thead>
      <tr>
        <th rowspan="2">Name</th>
      </tr>
      <tr>
        <th>Last Pilgrimage</th>
        <th>Income</th>
        <th>Country</th>
        <th>Trips</th>
        <th>E-mail</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="media"><img class="rounded-circle img-30 me-3"
              src="{{ url_for('static', filename='assets/images/user/1.jpg')}}" alt="Generic placeholder image">
            <div class="media-body align-self-center">
              <div><a href="/edit_profile">Tiger Nixon</a></div>
            </div>
          </div>
        </td>
        <td>Umrah</td>
        <td>$320,800</td>
        <td>Edinburgh</td>
        <td>5</td>
        <td>t.nixon@datatables.net</td>
      </tr>
      <tr>
        <td>
          <div class="media"><img class="rounded-circle img-30 me-3"
              src="{{ url_for('static', filename='assets/images/user/2.png')}}" alt="Generic placeholder image">
            <div class="media-body align-self-center">
              <div><a href="/edit_profile">Garrett Winters</a></div>
            </div>
          </div>
        </td>
        <td>Umrah</td>
        <td>$170,750</td>
        <td>Tokyo</td>
        <td>8</td>
        <td>g.winters@datatables.net</td>
      </tr>
      <tr>
        <td>
          <div class="media"><img class="rounded-circle img-30 me-3"
              src="{{ url_for('static', filename='assets/images/user/3.png')}}" alt="Generic placeholder image">
            <div class="media-body align-self-center">
              <div><a href="/edit_profile">Ashton Cox</a></div>
            </div>
          </div>
        </td>
        <td>Hajj</td>
        <td>$86,000</td>
        <td>San Francisco</td>
        <td>1</td>
        <td>a.cox@datatables.net</td>
      </tr>
      <tr>
        <td>
          <div class="media"><img class="rounded-circle img-30 me-3"
              src="{{ url_for('static', filename='assets/images/user/4.jpg')}}" alt="Generic placeholder image">
            <div class="media-body align-self-center">
              <div><a href="/edit_profile">Cedric Kelly</a></div>
            </div>
          </div>
        </td>
        <td>Umrah</td>
        <td>$433,060</td>
        <td>Edinburgh</td>
        <td>6</td>
        <td>c.kelly@datatables.net</td>
      </tr>
      <tr>
        <td>
          <div class="media"><img class="rounded-circle img-30 me-3"
              src="{{ url_for('static', filename='assets/images/user/5.jpg')}}" alt="Generic placeholder image">
            <div class="media-body align-self-center">
              <div><a href="/edit_profile">Airi Satou</a></div>
            </div>
          </div>
        </td>
        <td>Hajj</td>
        <td>$162,700</td>
        <td>Tokyo</td>
        <td>5</td>
        <td>a.satou@datatables.net</td>
      </tr>
      <tr>
        <td>
          <div class="media"><img class="rounded-circle img-30 me-3"
              src="{{ url_for('static', filename='assets/images/user/6.jpg')}}" alt="Generic placeholder image">
            <div class="media-body align-self-center">
              <div><a href="/edit_profile">Brielle Williamson</a></div>
            </div>
          </div>
        </td>
        <td>Hajj</td>
        <td>$372,000</td>
        <td>New York</td>
        <td>4</td>
        <td>b.williamson@datatables.net</td>
      </tr>
      <tr>
        <td>
          <div class="media"><img class="rounded-circle img-30 me-3"
              src="{{ url_for('static', filename='assets/images/user/7.jpg')}}" alt="Generic placeholder image">
            <div class="media-body align-self-center">
              <div><a href="/edit_profile">Herrod Chandler</a></div>
            </div>
          </div>
        </td>
        <td>Umrah</td>
        <td>$137,500</td>
        <td>San Francisco</td>
        <td>9</td>
        <td>h.chandler@datatables.net</td>
      </tr>
      <tr>
        <td>
          <div class="media"><img class="rounded-circle img-30 me-3"
              src="{{ url_for('static', filename='assets/images/user/8.jpg')}}" alt="Generic placeholder image">
            <div class="media-body align-self-center">
              <div><a href="/edit_profile">Rhona Davidson</a></div>
            </div>
          </div>
        </td>
        <td>Umrah</td>
        <td>$327,900</td>
        <td>Tokyo</td>
        <td>6</td>
        <td>r.davidson@datatables.net</td>
      </tr>
      <tr>
        <td>
          <div class="media"><img class="rounded-circle img-30 me-3"
              src="{{ url_for('static', filename='assets/images/user/9.jpg')}}" alt="Generic placeholder image">
            <div class="media-body align-self-center">
              <div><a href="/edit_profile">Colleen Hurst</a></div>
            </div>
          </div>
        </td>
        <td>Umrah</td>
        <td>$205,500</td>
        <td>San Francisco</td>
        <td>2</td>
        <td>c.hurst@datatables.net</td>
      </tr>
      <tr>
        <td>
          <div class="media"><img class="rounded-circle img-30 me-3"
              src="{{ url_for('static', filename='assets/images/user/10.jpg')}}" alt="Generic placeholder image">
            <div class="media-body align-self-center">
              <div><a href="/edit_profile">Sonya Frost</a></div>
            </div>
          </div>
        </td>
        <td>Hajj</td>
        <td>$103,600</td>
        <td>Edinburgh</td>
        <td>1</td>
        <td>s.frost@datatables.net</td>
      </tr>
      <tr>
        <td>
          <div class="media"><img class="rounded-circle img-30 me-3"
              src="{{ url_for('static', filename='assets/images/user/11.png')}}" alt="Generic placeholder image">
            <div class="media-body align-self-center">
              <div><a href="/edit_profile">Jena Gaines</a></div>
            </div>
          </div>
        </td>
        <td>Umrah</td>
        <td>$90,560</td>
        <td>London</td>
        <td>3</td>
        <td>j.gaines@datatables.net</td>
      </tr>