<div class="col-xl-9 col-md-12 box-col-7">
  <div class="email-right-aside bookmark-tabcontent">
    <div class="card email-body radius-left">
      <div>
        <div class="tab-content">
          <div class="tab-pane fade active show" id="pills-created" role="tabpanel" aria-labelledby="pills-created-tab">
            <div class="card mb-0">
              <div class="card-header d-flex">
                <h6 class="mb-0">Created by me</h6>
                <ul>
                  <li><a class="grid-bookmark-view" href="javascript:void(0)"><i data-feather="grid"></i></a></li>
                  <li><a class="list-layout-view" href="javascript:void(0)"><i data-feather="list"></i></a></li>
                </ul>
              </div>
              <div class="card-body pb-0">
                <div class="details-bookmark text-center">
                  <div class="row" id="bookmarkData">
                    <div class="col-xl-3 col-md-4 xl-50 box-col-6">
                      <div class="card card-with-border bookmark-card o-hidden">
                        <div class="details-website"><img class="img-fluid"
                            src="{{ url_for('static', filename='assets/images/lightgallry/01.jpg')}}" alt="">
                          <div class="favourite-icon favourite_0" onclick="setFavourite(0)"><a href="#"><i
                                class="fa fa-star"></i></a></div>
                          <div class="desciption-data">
                            <div class="title-bookmark">
                              <h6 class="title_0">Admin Template</h6>
                              <p class="weburl_0">http://admin.pixelstrap.com//ltr/landing-page.html</p>
                              <div class="hover-block">
                                <ul>
                                  <li><a href="" onclick="editBookmark(0)" data-bs-toggle="modal"
                                      data-bs-target="#edit-bookmark"><i data-feather="edit-2"></i></a></li>
                                  <li><a href="#"><i data-feather="link"></i></a></li>
                                  <li><a href="#"><i data-feather="share-2"></i></a></li>
                                  <li><a href="#"><i data-feather="trash-2"></i></a></li>
                                  <li class="pull-right text-end"><a href="#"><i data-feather="tag"></i></a></li>
                                </ul>
                              </div>
                              <div class="content-general">
                                <p class="desc_0"> is beautifully crafted, clean and modern designed admin theme with 6
                                  different demos and light - dark versions.</p><span
                                  class="collection_0">General</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-md-4 xl-50 box-col-6">
                      <div class="card card-with-border bookmark-card o-hidden">
                        <div class="details-website"><img class="img-fluid"
                            src="{{ url_for('static', filename='assets/images/lightgallry/02.jpg')}}" alt="">
                          <div class="favourite-icon favourite_1" onclick="setFavourite(1)"><a href="#"><i
                                class="fa fa-star"></i></a></div>
                          <div class="desciption-data">
                            <div class="title-bookmark">
                              <h6 class="title_1">Universal Template</h6>
                              <p class="weburl_1">https://angular.pixelstrap.com/universal/landing</p>
                              <div class="hover-block">
                                <ul>
                                  <li><a href="" onclick="editBookmark(1)" data-bs-toggle="modal"
                                      data-bs-target="#edit-bookmark"><i data-feather="edit-2"></i></a></li>
                                  <li><a href="#"><i data-feather="link"></i></a></li>
                                  <li><a href="#"><i data-feather="share-2"></i></a></li>
                                  <li><a href="#"><i data-feather="trash-2"></i></a></li>
                                  <li class="pull-right text-end"><a href="#"><i data-feather="tag"></i></a></li>
                                </ul>
                              </div>
                              <div class="content-general">
                                <p class="desc_1">Universal is beautifully crafted, clean and modern designed admin
                                  theme</p><span class="collection_1">General</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-md-4 xl-50 box-col-6">
                      <div class="card card-with-border bookmark-card o-hidden">
                        <div class="details-website"><img class="img-fluid"
                            src="{{ url_for('static', filename='assets/images/lightgallry/03.jpg')}}" alt="">
                          <div class="favourite-icon favourite_2" onclick="setFavourite(2)"><a href="#"><i
                                class="fa fa-star"></i></a></div>
                          <div class="desciption-data">
                            <div class="title-bookmark">
                              <h6 class="title_2">Angular Theme</h6>
                              <p class="weburl_2">https://angular.pixelstrap.com/cuba/landing</p>
                              <div class="hover-block">
                                <ul>
                                  <li><a href="" onclick="editBookmark(2)" data-bs-toggle="modal"
                                      data-bs-target="#edit-bookmark"><i data-feather="edit-2"></i></a></li>
                                  <li><a href="#"><i data-feather="link"></i></a></li>
                                  <li><a href="#"><i data-feather="share-2"></i></a></li>
                                  <li><a href="#"><i data-feather="trash-2"></i></a></li>
                                  <li class="pull-right text-end"><a href="#"><i data-feather="tag"></i></a></li>
                                </ul>
                              </div>
                              <div class="content-general">
                                <p class="desc_2">Cuba is beautifully crafted, clean and modern designed admin theme</p>
                                <span class="collection_2">Fs</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>