<div class="email-wrap bookmark-wrap">
  <div class="row">
    <div class="col-xl-3 box-col-4">
      <div class="email-left-aside">
        <div class="card">
          <div class="card-body">
            <div class="email-app-sidebar left-bookmark">
              <div class="media">
                <div class="media-size-email"><img class="me-3 rounded-circle"
                    src="{{ url_for('static', filename='assets/images/user/user.png')}}" alt=""></div>
                <div class="media-body">
                  <h6 class="f-w-600">MARK JENCO</h6>
                  <p>Markjecno@gmail.com</p>
                </div>
              </div>
              <ul class="nav main-menu" role="tablist">
                <li class="nav-item">
                  <button class="badge-light-primary btn-block btn-mail w-100" type="button" data-bs-toggle="modal"
                    data-bs-target="#exampleModal"><i class="me-2" data-feather="bookmark"></i> New Bookmark</button>
                  <div class="modal fade modal-bookmark" id="exampleModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Add Bookmark</h5>
                          <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <form class="form-bookmark needs-validation" id="bookmark-form" novalidate="">
                           
                            <div class="row g-2">
                              <div class="mb-3 mt-0 col-md-12">
                                <label for="bm-weburl">Web Url</label>
                                <input class="form-control" id="bm-weburl" type="text" required="" autocomplete="off">
                              </div>
                              <div class="mb-3 mt-0 col-md-12">
                                <label for="bm-title">Title</label>
                                <input class="form-control" id="bm-title" type="text" required="" autocomplete="off">
                              </div>
                              <div class="mb-3 mt-0 col-md-12">
                                <label>Description</label>
                                <textarea class="form-control" id="bm-desc" required="" autocomplete="off"></textarea>
                              </div>
                              <div class="mb-3 mt-0 col-md-6">
                                <label>Group</label>
                                <select class="js-example-basic-single" id="bm-group">
                                  <option value="bookmark">My Bookmarks</option>
                                </select>
                              </div>
                              <div class="mb-3 mt-0 col-md-6">
                                <label>Collection</label>
                                <select class="js-example-disabled-results" id="bm-collection">
                                  <option value="general">General</option>
                                  <option value="fs">fs</option>
                                </select>
                              </div>
                            </div>
                            <input id="index_var" type="hidden" value="6">
                            <button class="btn btn-secondary" id="Bookmark" onclick="submitBookMark()"
                              type="submit">Save</button>
                            <button class="btn btn-primary" type="button" data-bs-dismiss="modal">Cancel</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="nav-item"><span class="main-title"> Views</span></li>
                <li><a id="pills-created-tab" data-bs-toggle="pill" href="#pills-created" role="tab"
                    aria-controls="pills-created" aria-selected="true"><span class="title"> Created by me</span></a>
                </li>
                <li><a class="show" id="pills-favourites-tab" data-bs-toggle="pill" href="#pills-favourites" role="tab"
                    aria-controls="pills-favourites" aria-selected="false"><span class="title"> Favourites</span></a>
                </li>
                <li><a class="show" id="pills-shared-tab" data-bs-toggle="pill" href="#pills-shared" role="tab"
                    aria-controls="pills-shared" aria-selected="false"><span class="title"> Shared with me</span></a>
                </li>
                <li><a class="show" id="pills-bookmark-tab" data-bs-toggle="pill" href="#pills-bookmark" role="tab"
                    aria-controls="pills-bookmark" aria-selected="false"><span class="title"> My bookmark</span></a>
                </li>
                <li>
                  <hr>
                </li>
                <li><span class="main-title"> Tags<span class="pull-right"><a href="#" data-bs-toggle="modal"
                        data-bs-target="#createtag"><i data-feather="plus-circle"></i></a></span></span></li>
                <li><a class="show" id="pills-notification-tab" data-bs-toggle="pill" href="#pills-notification"
                    role="tab" aria-controls="pills-notification" aria-selected="false"><span class="title">
                      notification</span></a></li>
                <li><a class="show" id="pills-newsletter-tab" data-bs-toggle="pill" href="#pills-newsletter" role="tab"
                    aria-controls="pills-newsletter" aria-selected="false"><span class="title"> Newsletter</span></a>
                </li>
                <li><a class="show" id="pills-business-tab" data-bs-toggle="pill" href="#pills-business" role="tab"
                    aria-controls="pills-business-tab" aria-selected="false"><span class="title"> Business</span></a>
                </li>
                <li><a class="show" id="pills-holidays-tab" data-bs-toggle="pill" href="#pills-holidays" role="tab"
                    aria-controls="pills-holidays-tab" aria-selected="false"><span class="title"> Holidays</span></a>
                </li>
                <li><a class="show" id="pills-important-tab" data-bs-toggle="pill" href="#pills-important" role="tab"
                    aria-controls="pills-important-tab" aria-selected="false"><span class="title"> Important</span></a>
                </li>
                <li><a class="show" id="pills-orgenization-tab" data-bs-toggle="pill" href="#pills-orgenization"
                    role="tab" aria-controls="pills-orgenization-tab" aria-selected="false"><span class="title">
                      Orgenization</span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>