<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="Cuba admin is super flexible, powerful, clean &amp; modern responsive bootstrap 5 admin template with unlimited possibilities.">
  <meta name="keywords"
    content="admin template, Cuba admin template, dashboard template, flat admin template, responsive admin template, web app">
  <meta name="author" content="pixelstrap">
  <link rel="icon" href="{{ url_for('static', filename='assets/images/favicon.png')}}" type="image/x-icon">
  <link rel="shortcut icon" href="{{ url_for('static', filename='assets/images/favicon.png')}}" type="image/x-icon">
  <title>Online Partner Booking system Saudi Arabia</title>
  <!-- Google font-->
  <link href="https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i,700,700i&amp;display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900&amp;display=swap"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename=  'assets/css/font-awesome.css')}}">
  <!-- ico-font-->
  <link rel="stylesheet" type="text/css"
    href="{{ url_for('static', filename=  'assets/css/vendors/icofont.scss.css')}}">
  <!-- Themify icon-->
  <link rel="stylesheet" type="text/css"
    href="{{ url_for('static', filename=  'assets/css/vendors/themify.scss.css')}}">
  <!-- Flag icon-->
  <link rel="stylesheet" type="text/css"
    href="{{ url_for('static', filename=  'assets/css/vendors/flag-icon.scss.css')}}">
  <!-- Feather icon-->
  <link rel="stylesheet" type="text/css"
    href="{{ url_for('static', filename=  'assets/css/vendors/feather-icon.scss.css')}}">
  <!-- Plugins css start-->
  {% block csscontent %}

  {% endblock %}

  <!-- Plugins css Ends-->
  <!-- Bootstrap css-->
  <link rel="stylesheet" type="text/css"
    href="{{ url_for('static', filename=  'assets/css/vendors/bootstrap.scss.css')}}">
  <!-- App css-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/style.scss.css')}}">
  <link id="color" rel="stylesheet" href="{{ url_for('static', filename=  'assets/css/color-1.scss.css')}}"
    media="screen">
  <!-- Responsive css-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename=  'assets/css/responsive.scss.css')}}">
</head>

<body>


  {% block content %}



  {% endblock %}


  <!-- latest jquery-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <!-- Bootstrap js-->
  <script src="{{ url_for('static', filename='assets/js/bootstrap/bootstrap.bundle.min.js')}}"></script>
  <!-- feather icon js-->
  <script src="{{ url_for('static', filename='assets/js/icons/feather-icon/feather.min.js')}}"></script>
  <script src="{{ url_for('static', filename='assets/js/icons/feather-icon/feather-icon.js')}}"></script>
  <!-- scrollbar js-->
  <!-- Sidebar jquery-->
  <script src="{{ url_for('static', filename='assets/js/config.js')}}"></script>
  <!-- Plugins JS start-->

  {% block scriptscontent %}

  {% endblock %}

 
  </div>
</body>

</html>