{% extends "base.html" %}


{% block css %}
<!-- Plugins css start-->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename=  'assets/css/vendors/jsgrid.scss.css')}}">
<!-- Plugins css Ends-->
{% endblock %}

{% block content %}

<div class="page-body">


  <!-- Container-fluid starts-->
  <div class="form-builder">
    <div class="container-fluid">
      {% include "layout/breadcrumb.html" %}
      <div class="row">
        <br><br><br>
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
              <h5>Process ID - 35350</h5>
            </div>
            <div class="card-body form-builder">
              <div class="form-builder-column">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-builder-2-header">
                      <div>
                        <ul class="nav nav-primary" id="pills-tab" role="tablist">
                          <li class="nav-item"><a class="nav-link active" id="pills-input-tab" data-bs-toggle="pill"
                              href="#pills-input" role="tab" aria-controls="pills-input" aria-selected="true">General</a>
                          </li>
                          <li class="nav-item"><a class="nav-link" id="pills-radcheck-tab" data-bs-toggle="pill"
                              href="#pills-radcheck" role="tab" aria-controls="pills-radcheck"
                              aria-selected="false">Guests</a></li>
                          <li class="nav-item"><a class="nav-link" id="pills-select-tab" data-bs-toggle="pill"
                              href="#pills-select" role="tab" aria-controls="pills-select"
                              aria-selected="false">Visa status</a></li>
                          <li class="nav-item"><a class="nav-link" id="pills-button-tab" data-bs-toggle="pill"
                              href="#pills-button" role="tab" aria-controls="pills-button"
                              aria-selected="false">Other</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>


                  <div class="col-lg-12 col-xl-12">
                    <div class="tab-content" id="pills-tabContent">
                      <div class="tab-pane fade show active" id="pills-input" role="tabpanel"
                        aria-labelledby="pills-input-tab">
                        <form class="theme-form">
                          <div class="mb-3 draggable">
                            <label for="input-text-1">Tour Operator:</label>
                            <input class="form-control btn-square" id="input-text-1" type="text"
                              placeholder="Ummatour">
                          </div>
                          <br>
                          <div class="mb-3 draggable">
                            <label for="city">City</label>
                            <input class="form-control btn-square" id="city" type="text"
                              placeholder="Makkah">
                          </div>
                          <br>
                          <div class="mb-3 draggable">
                            <label for="hotel">Hotel:</label>
                            <input class="form-control btn-square" id="hotel" type="text"
                              placeholder="Sheraton makkah">
                          </div>
                          <hr>
                          <div class="mb-3 draggable">
                            <label for="man_quantity">Man:</label>
                            <input class="form-control btn-square" id="man_quantity" type="text"
                              placeholder="1">
                          </div>
                          <br>
                          <div class="mb-3 draggable">
                            <label for="woman_quantity">Woman:</label>
                            <input class="form-control btn-square" id="woman_quantity" type="text"
                              placeholder="1">
                          </div>
                          <br>
                          <div class="mb-3 draggable">
                            <label for="family_quantity">Family:</label>
                            <input class="form-control btn-square" id="family_quantity" type="text"
                              placeholder="1">
                          </div>
                          <hr>
                         <div class="mb-3 draggable">
                            <label for="room_type">Room type:</label>
                            <input class="form-control btn-square" id="room_type" type="text"
                              placeholder="Twin room">
                          </div>
                          <br>
                          <div class="col-sm-9">
                            <label for="input-text-3">Check in:</label>
                            <input class="form-control digits" type="date" value="2018-01-01">
                          </div>
                          <br>
                          <div class="col-sm-9">
                            <label for="input-text-3">Check Out:</label>
                            <input class="form-control digits" type="date" value="2018-01-20">
                          </div>
                          <hr>
                          <div class="mb-3 draggable">
                            <label for="input-file-1">File input</label>
                            <input id="input-file-1" type="file">
                            <p class="help-block">Example block-level help text here.</p>
                          </div>
                          <hr>
                          <div class="mb-3 draggable">
                            <div class="card-footer text-end">
                              <div class="card-footer text-end">
                                <input class="btn btn-light" type="reset" value="Cancel">
                                <button class="btn btn-primary" type="submit">Update</button>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>


                      <div class="tab-pane fade" id="pills-radcheck" role="tabpanel"
                        aria-labelledby="pills-radcheck-tab">
                        <div class="col-sm-12">
                          <div class="card">
                            <div class="card-header pb-0">
                              <h3 class="mb-3">All information about guests</h3>
                            </div>
                            <div class="card-body">
                              <div id="basicScenario"></div>
                            </div>
                          </div>
                        </div>
                      </div>



                      <div class="tab-pane fade" id="pills-select" role="tabpanel" aria-labelledby="pills-select-tab">
                        <div class="col-sm-12">
                          <div class="card">
                            <div class="card-header">
                              <h5 class="mb-3">All visa information</h5>
                            </div>
                            <div class="card-body">
                              <div id="batchDelete"></div>
                            </div>
                          </div>
                        </div>
                      </div>




                      <div class="tab-pane fade" id="pills-button" role="tabpanel" aria-labelledby="pills-button-tab">
                        <div class="row">
                          <label class="col-sm-3 col-form-label">Description</label>
                          <div class="col-sm-9">
                            <textarea class="form-control" rows="5" cols="5" placeholder="Description"></textarea>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
              <!-- Form builder column wise ends-->
              <!-- Container-fluid Ends-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scriptcontent %}
<!-- Plugins JS start-->
<script src="{{ url_for('static', filename='assets/js/jquery.ui.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/form-builder/form-builder-2/beautifyhtml.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/form-builder/form-builder-2/form-builder-2.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/tooltip-init.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/jsgrid/jsgrid.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/jsgrid/griddata.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/jsgrid/jsgrid.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/tooltip-init.js')}}"></script>
<!-- Plugins JS Ends-->
{% endblock %}
