{% extends 'base.html' %}




{% block css %}
<!-- Plugins css start-->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename=  'assets/css/vendors/prism.scss.css')}}">
<!-- Plugins css Ends-->
{% endblock %}

{% block content %}

<div class="page-body">
      <div class="container-fluid">
            {% include "layout/breadcrumb.html" %}
            <div class="row">
                  {% include "general/page-layout/components/layout-rtl.html" %}
            </div>
      </div>
</div>

{% endblock %}

{% block scriptcontent %}
<!-- Plugins JS start-->
<script src="{{ url_for('static', filename='assets/js/slick/slick.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/slick/slick.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/header-slick.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/prism/prism.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/clipboard/clipboard.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/custom-card/custom-card.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/tooltip-init.js')}}"></script>
<!-- Plugins JS Ends-->
{% endblock %}